.map {
    display: flex;
    justify-content: center;
    width: 70%;
}

.map>iframe {
    width: 80%;
    height: 50vh;
    border: none;
}

@media screen and (max-width: 576px) {
    .map {
        width: 100%;
    }
}