.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 50px auto;
}

.legal-title {
    margin-bottom: 30px;
}

.column ol li {
    padding-top: 20px;
    line-height: 1rem;
    font-size: 1em;
    color: #4e4949;
    list-style: none;
}

