    @media screen and (max-width: 576px) {
        nav {
            display: flex;
            flex-wrap: wrap;
        }
        .home {
            display: none;
        }
        .small-home {
            width: 30%;
        }
        .small-logo {
            display: flex;
            width: 50%;
            margin-left: 20px;
        }
        .navs {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            max-height: 0;
            position: relative;
            width: 100%;
            transition: all .5s;
        }
        ul.display {
            border-top: 1px solid #ffffffb9;
            max-height: 300px;
            overflow: visible;
        }
        .menu {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            color: #ffffff;
            font-size: 2em;
            margin: 10px 30px;
        }
        .nav-links {
            transition: none;
            padding: 1.2em 0;
        }
        .nav-links:hover {
            background-color: transparent;
        }
        .nav-links:hover a {
            color: #ffffff;
        }
        .nav-links>a {
            display: flex;
            padding: 0;
        }
        /* hr {
            width: 90%;
            margin: auto;
        } */
        .row {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 30px 0;
        }
        .company {
            order: 2;
            width: 90%;
            margin: auto;
            padding: 10px 0 30px 0;
        }

        .marcas {
            display: none;
        }
        .slider {
            order: 1;
            width: 100%;
            margin: auto;
            padding: 30px 0;
        }
        .hr {
            width: 90%;
            margin: auto;
        }
        .products {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: auto;
        }
        .span {
            padding: 1.5em;
            margin-top: 30px;
            margin-left: 50px;
        }
        .content {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .footer {
            flex-direction: column;
        }
        .legal {
            width: 100%;
        }
        .footer-powered {
            width: 100%;
            margin-top: 15px;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
    /* @media screen and (max-width: 768px) {
        .home {
            width: 30%;
        }
        .logo {
            width: 100%;
        }
        ul.navs {
            display: none;
        }
        .menu {
            display: flex;
            color: #ffffff;
            font-size: 2em;
            margin: 0;
            padding: 10px 30px;
        }
        hr {
            width: 80%;
            margin: auto;
        }
        .row {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .company {
            order: 2;
            width: 90%;
            margin: auto;
            padding: 30px 0;
        }
        .slider {
            order: 1;
            width: 100%;
            margin: auto;
            padding: 30px 0;
        }
        .hr {
            width: 90%;
            margin: auto;
        }
        .products {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: auto;
        }
        .span {
            padding: 1.5em;
            margin-top: 30px;
            margin-left: 50px;
        }
        .content {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    } *