    *,
    *::after,
    *::before {
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
        padding: 0;
        margin: 0;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        background-color: #FBFBFB;
    }
    /*-----------------------------------------Navigation--------------------------------------------*/
    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #01508A;
        width: 100%;
        height: auto;
    }
    
    .home {
        width: 20%;
    }
    
    .logo {
        display: flex;
        width: 90%;
        margin-left: 20px;
    }
    
    .small-logo {
        display: none;
    }
    
    .icon-bars {
        display: none;
    }
    
    .navs {
        display: flex;
        flex-direction: row;
        margin: 0 30px;
    }
    
    .nav-links {
        padding: 1em;
        list-style: none;
        font-size: 1.1em;
        font-weight: 700;
    }
    
    .nav-links:hover {
        background-color: rgba(255, 255, 255, 0.8);
    }
    
    .nav-links:hover a {
        color: #51BD05;
    }
    
    .nav-links>a {
        text-decoration: none;
        color: #ffffff;
    }
    
    ul.navs li a:hover {
        color: #51BD05;
        position: relative;
    }
    
    h3 {
        margin: 30px 0 15px 30px;
        font-weight: 400;
        font-size: 1.5em;
    }
    
    hr {
        width: 95%;
        margin-left: 30px;
        border: none;
        height: 3px;
        background-image: -webkit-linear-gradient(right, rgb(7, 59, 90), rgb(7, 59, 90), rgb(7, 59, 90));
    }
    /*---------------------------------------Company----------------------------------------------------*/
    
    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 50px 0;
    }
    
    .company {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 50px 10px 50px 30px;
    }
    
    .header>h1 {
        display: inline-block;
        border-bottom: 2px solid red;
        padding-bottom: 5px;
        margin-bottom: 30px;
    }
    
    .company p {
        color: #757575;
    }
    
    .marcas {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 30px
    }
    
    .logo-marca {
        width: 30%;
        padding: 15px;
        height: auto;
    }
    /*----------------------------------------Slider-------------------------------------------------*/
    
    .slider {
        width: 50%;
        position: relative;
        margin: 50px 0;
    }
    
    .slides {
        width: 90%;
        border-radius: 4px;
        margin: auto;
        /* -webkit-box-shadow: 3px 2px 12px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 2px 12px -1px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 2px 12px -1px rgba(0, 0, 0, 0.75); */
    }
    
    .icon {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 41%;
        border: none;
        opacity: 0.7;
        font-size: 2em;
    }
    
    .icon-angle-left {
        left: 5%;
    }
    
    .icon-angle-right {
        right: 5%;
    }
    
    .hr {
        background: rgba(226, 226, 226, 1);
    }
    /*---------------------------------------Products-------------------------------------------------*/
    
    .header>h3 {
        display: inline-block;
        border-bottom: 2px solid red;
        padding-bottom: 5px;
        margin-bottom: 30px;
    }
    
    .products {
        display: flex;
        flex-direction: row;
        width: 50%;
        position: relative;
        margin: 30px 0 30px 50px;
    }
    
    .span {
        margin: auto;
        border: solid 3px rgba(210, 215, 217, 0.75);
        padding: 2.5em;
        transform: rotate(45deg);
        border-radius: 10px;
    }
    
    .icon-product {
        transform: rotate(-45deg);
        font-size: 2em;
        /* color: rgba(277, 56, 54, 1); */
        color: #0B9BA9;
        /* color: #F46D78; */
    }
    
    .content {
        margin-left: 40px;
        margin-right: 40px;
    }
    
    h4.title {
        padding-bottom: 10px;
    }
    
    .content p {
        color: #757575;
    }
    /*--------------------------------------Footer-----------------------------------------------------*/
    
    .footer {
        display: flex;
        flex-direction: row;
        height: auto;
        background-color: #01508A;
        margin-top: 50px;
        padding: 30px;
    }
    
    .legal {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .legal>p {
        color: #ffffff;
        padding-top: 15px;
        font-size: 0.8em;
        font-weight: 600;
    }
    
    .legal-list {
        display: flex;
        flex-direction: row;
        padding-top: 15px;
    }
    
    .legal-list>li:last-child {
        border-right: none;
    }
    
    .legal-list>li {
        list-style: none;
        line-height: 0.7em;
        border-right: 2px solid #ffffff;
        margin-right: 5px;
    }
    
    .legal-list>li>a {
        text-decoration: none;
        color: #ffffff;
        padding-right: 5px;
        font-size: 0.7em;
    }
    
    .location {
        width: 33.33%;
    }
    
    .location h5 {
        color: #ffffff;
        display: inline-block;
        border-bottom: 1px solid #FFF;
        margin-bottom: 5px;
    }
    
    .location>ul>li {
        font-size: 0.8em;
        font-weight: 600;
        color: #FFF;
        list-style: none;
        padding-top: 15px;
    }
    
    .footer-powered {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 40px;
    }
    
    .footer-powered>p {
        color: #ffffff;
        font-size: 0.7em;
    }